body {
    max-width: 1400px;
    /* border: 2px solid rebeccapurple; */
}

.navber {
    /* width: 1450px; */
    height: 750px;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.main-section {
    background: rgba(229, 84, 115, 0.10);
}

.header {

    /* width: 708px; */
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: -5px;
}

.bio {
    /* width: 634px; */
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
}

.navber-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.first-pic {
    width: 500px;
    height: 600px;
}

/* second section styels */
.div-2 {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}


.second-header {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.second-bio {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 500;
    margin-top: -30px;
}

.chief-div {
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    gap: 80px;

}

.card-1 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-left: 80px;
    /* margin-right: 10px; */
}

.card-2 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.card-3 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 25px;
}

.pic-1 {
    width: 280px;
    display: block;
    justify-content: center;
    align-items: center;
}

.sub-title {
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    display: flex;
    justify-content: space-around;
    margin-top: -25px;
    align-items: center;
}

/* 3rd section style */
.div-3 {
    width: 1200px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 90px;

}

.div-3,
p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;

}

/* 4th section style */
.div-4 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    font-family: Lato;
    font-style: normal;
    line-height: 30px;
    margin-top: 25px;
}

.hot {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 25px;
}

.span {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-btn {
    text-align: center;


}


/* 5th section styel  */
.insta-div {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.insta-header {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.insta-bio {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.assistant-div {
    display: flex;
    gap: 30px;
    /* width: 250px; */
    /* height: 350px; */
    padding: 20px;
    margin-right: 100px;
}
.box{
    container:initial ;
}

.back-imgs {
    text-align: center;
    padding: 10px;
    background-image: url('/Flower Asset/Rectangle\ 9.png');
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.input-btn {
    border-radius: 8px;
    background: #FFF;
    width: 500px;
    height: 30px;
    margin-bottom: 70px;

}

.sub-btn {
    border-radius: 8px;
    background: #E55473;
    width: 150px;
    height: 44px;

}

/* footer section */
.footer-div {
    width: 1345px;
    height: 200px;
    background-color: gray;
    text-align: center;
    margin-top: 50px;
    
}
.container{
    display: flex;
    align-items: center;
}